.feedback
  position: fixed
  background-color: #ffffff
  top: 10px
  left: 50%
  width: 300px
  margin-left: -150px
  padding: 10px
  cursor: pointer
  text-align: center
  box-shadow: 0 2px 2px rgb(0, 0, 0)
  z-index: 10001