.header
  display: flex
  padding: 10px
  color #fff
  background-color: #0075cb
  button
    font-size: 14px
    padding: 2px 4px
  select
    font-size: 14px
    padding: 2px 4px
  .admin
    flex: 1
    margin auto
    .add
      display: inline-block
      margin 5px ato
      input
        font-size: 14px
        padding: 4px
        &[name=keyID]
          width: 250px
        &[name=vCode]
          width: 250px
    .keys
      margin-top: 5px
      select
        display: inline-block
        width: 200px
    .label
      display: inline-block
      width: 160px
      font-size: 20px
  .login-form
    .login-name
      display: inline-block
      font-size: 22px
      margin-right: 10px
    .logout, .login
      float: right
  .languageSelector
    select
      margin-left: 10px
  .edit
    margin: 10px 0 10px
    textarea
      height: 100px
      width: 375px
      resize: none

