<template name="header">
    <header class="header">
        {{#if currentUser}}
            <div class='admin'>
                {{#if allowedToUseControls}}
                    {{#if showControls}}
                        <form class="add">
                            <div class="label">{{_ 'controls.addKey'}}</div>
                            <input placeholder="{{_ 'controls.keyID'}}" name="keyID">
                            <input placeholder="{{_ 'controls.vCode'}}" name="vCode">
                            <button type="submit">{{_ 'controls.add'}}</button>
                        </form>
                        <div class="keys">
                            <div class="label">{{_ 'controls.allKeys'}}</div>
                            <select>
                                <option selected hidden value="">{{_ 'controls.add'}}</option>
                                {{#each keys}}
                                    <option value="{{keyID}}">{{ownerName}} ({{type}})</option>
                                {{/each}}
                            </select>
                            <button class="editIndustrialists" hidden="{{editDisabled}}">{{_
                                    'controls.industrialists'}}</button>
                            <button class="delete">{{_ 'controls.remove'}}</button>
                            {{#if edit}}
                                <div class="edit">
                                    <textarea class="industrialists"
                                              placeholder="{{_ 'controls.areaText'}}">{{industrialistsList}}</textarea>
                                    <div class="buttons">
                                        <button class="yes">{{_ 'controls.save'}}</button>
                                        <button class="no">{{_ 'controls.close'}}</button>
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                        <div class="keys">
                            <button class="hideControls">{{_ 'controls.hide'}}</button>
                        </div>
                    {{else}}
                        <button class="showControls">{{_ 'controls.show'}}</button>
                    {{/if}}
                {{/if}}
            </div>

            <div class="login-form">
                <div class="login-name">{{currentUser.profile.name}}</div>
                <button class="logout">{{_ 'controls.logoff'}}</button>
            </div>
        {{else}}
            <div class='admin'></div>

            <div class="login-form">
                <button class="login">{{_ 'controls.login'}}</button>
            </div>
        {{/if}}
        <div class="languageSelector">
        <select>
            <option value="en">English</option>
            <option value="ru">Русский</option>
        </select>
    </div>
    </header>
</template>
