<template name="main">
    {{> header}}
    {{#if currentUser}}
        {{> grid}}
    {{else}}
        <div class="login-please">{{_ 'controls.loginPlease'}}</div>
    {{/if}}
    <footer></footer>
    {{> feedback}}
</template>