.grid
  .cell
    overflow hidden
    display inline-block
    padding: 2px 5px
    flex 1
    &.requisites
      max-width: 80px
      min-width: 80px
    &.jobID
      width: 80px
    &.icons
      max-width: 50px
      min-width: 50px
    &.productTypeName
      flex: 3
      max-width 330px
    &.icons
      flex: 0.6
    &.runs
      text-align: right
      max-width: 70px
    &.status
    &.activityID
    &.solarSystemName
      text-align center
    &.startDate
    &.endDate
      text-align: center
    &.timeLeft
      text-align: right
    &.accessList
      cursor pointer
      &:hover
        background-color: rgba(200,200,200,0.5)
  .filters
    display: flex
    padding: 10px
    display: flex
    color #fff
    background-color: #0075cb
    .info
      flex: 1
      font-size: 24px
      max-width: 500px
      span:first-child
        margin-right: 10px
      span:last-child
        margin-left 20px
    .filters-container
      display: flex
      flex: 1
      height: 100%
      .filter
        font-size: 16px
        padding: 4px
        margin-right: 20px
        flex: 1
        &.search
          flex: 3
          max-width: 400px
        &.activity
        &.status
          max-width: 150px
    .grid-controls-container
      display: flex
      flex: 1
      height: 100%
      .massUpdater
        display: flex
        flex: 1
        button
          max-width: 90px
        .control
          font-size: 16px
          padding: 4px
          margin-right: 20px
          flex: 1
          &.newAccessList, &.newRequisites
            flex: 1
            max-width: 250px

  .sorters
    display flex
    border-top: 1px solid #0075cb
    background-color: #ddd
    .cell
      cursor pointer
      text-align center
      border-right:1px solid #0075cb
      &:last-child
        border-right: 0
  .row
    display flex
  .record
    .row
      background-color: #fff
      &.expanded
        background-color: #c0dff7
      &.selected
        background-color: #97b1c9
      &:hover
        background-color: rgba(0, 117, 203, 0.2)
        &.selected
          background-color: #b2cde5
    &:nth-child(2n)
      .row
        background-color: #eee
        &.expanded
          background-color: #c0dff7
        &.selected
          background-color: #97b1c9
        &:hover
          background-color: rgba(0, 117, 203, 0.2)
          &.selected
            background-color: #b2cde5
  .expandable
    padding: 5px
    border-left: 8px solid #0075cb
    .boundJobs
      border-top: 5px solid #c0dff7
      border-bottom: 5px solid #c0dff7
    &-info
      display: flex
      padding: 2px 5px
    &-title
      width: 120px
    &-content
      flex: 1
      .accessList, .requisites
        width: 180px
        height: 100%
        cursor: pointer
  .job-in-progress
    color: #ccaf1c
    font-weight: bold
  .job-ready
    color: #60c548
    font-weight: bold
  .job-done
    color:  #006699
    font-weight: bold

  .stick
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-top: 0
    width: 100%
    background-color: #fff