<template name="grid">
    <div class="grid">
        <div class="scroll-anchor"></div>
        <div class="head">
            <div class="filters">
                <div class="info">
                    <span title="{{_ 'status.active'}}"><i class="fa fa-cogs"></i> {{activeCount}}</span>
                    <span title="{{_ 'status.ready'}}"><i class="fa fa-check-circle-o"
                                                          aria-hidden="true"></i> {{readyCount}}</span>
                    <span title="{{_ 'grid.et'}}"><i class="fa fa-clock-o"></i> {{serverTime}}</span>
                </div>
                <div class="filters-container">
                    <input class=" filter search" placeholder={{_ 'grid.search'}}>
                    <select class="filter activity">
                        <option value="-1">{{_ 'activity.all'}}</option>
                        <option value="1">{{_ 'activity.manufacturing'}}</option>
                        <option value="3">{{_ 'activity.researchTE'}}</option>
                        <option value="4">{{_ 'activity.researchME'}}</option>
                        <option value="5">{{_ 'activity.copying'}}</option>
                        <option value="7">{{_ 'activity.reverse'}}</option>
                        <option value="8">{{_ 'activity.invention'}}</option>
                    </select>
                    <select class="filter status">
                        <option value="-1">{{_ 'status.all'}}</option>
                        <option value="1">{{_ 'status.active'}}</option>
                        <option value="3">{{_ 'status.ready'}}</option>
                        <option value="101">{{_ 'status.delivered'}}</option>
                        <option value="102">{{_ 'status.cancelled'}}</option>
                    </select>
                </div>
                <div class="grid-controls-container">

                    {{#if allowedToUseControls}}
                        <form class="massUpdater" action="">
                            <button type="button" class="control toggleSelection">
                                {{toggleSelectionText}}
                            </button>
                            {{#if selectInProgress}}
                                <input type="text" name="list" class="control newAccessList" placeholder="{{_ 'grid.newList'}}">
                                <input type="text" name="reqs" class="control newRequisites"
                                       placeholder="{{_ 'grid.newRequisites'}}">
                                <button type="submit" hidden></button>
                            {{/if}}
                        </form>
                    {{/if}}
                </div>
            </div>
            <div class="sorters">
                {{#if allowedToUseControls}}
                    <div class="cell requisites" data-sort-key="requisites">{{_ 'grid.requisites'}}</div>
                {{/if}}
                <div class="cell productTypeName" data-sort-key="productTypeName">{{_ 'grid.product'}}</div>
                <div class="cell icons" data-sort-key="accessList"></div>
                <div class="cell runs" data-sort-key="runs">{{_ 'grid.runs'}}</div>
                <div class="cell activityID" data-sort-key="activityID">{{_ 'grid.activity'}}</div>
                <div class="cell status" data-sort-key="status">{{_ 'grid.status'}}</div>
                <div class="cell timeLeft" data-sort-key="startDate">{{_ 'grid.startDate'}}</div>
                <div class="cell timeLeft" data-sort-key="endDate">{{_ 'grid.endDate'}}</div>
                <div class="cell timeLeft" data-sort-key="timeLeft">{{_ 'grid.timeLeft'}}</div>
                <div class="cell timeLeft" data-sort-key="solarSystemName">{{_ 'grid.system'}}</div>
                {{#if allowedToUseControls}}
                    <div class="cell installerName" data-sort-key="installerName">{{_ 'grid.character'}}</div>
                {{/if}}
            </div>
        </div>
        <div class="body">
            {{#each jobs}}
                {{>job}}
            {{/each}}
        </div>
    </div>
</template>

<template name="job">
    {{selectInProgress}}
    <div class="record">
        <div class="row main {{#if expanded}}expanded{{/if}} {{#if selected}}selected{{/if}}">
            {{#if allowedToUseControls}}
                <div class="cell requisites">{{requisites}}</div>
            {{/if}}
            <div class="cell productTypeName">{{productTypeName}}</div>
            <div class="cell icons">
                {{#if allowedToUseControls}}
                    {{#if shared accessList}}
                        <i class="fa fa-eye green" title={{_ 'grid.accessList'
                                                             list=(stringifyAccessList accessList)}}></i>
                    {{/if}}
                {{/if}}

                {{#if boundJobsCount}}
                    <i class="fa fa-link blue" title={{_ 'grid.boundCounter'
                                                         count=boundJobsCount}}></i>{{boundJobsCount}}
                {{else if isBound boundTo}}
                    <i class="fa fa-reply red" title={{_ 'grid.boundTo' job=boundTo}}></i>
                {{/if}}
            </div>
            <div class="cell runs">{{runs}}</div>
            <div class="cell activityID">{{activityName activityID}}</div>
            <div class="cell status {{color status}}">{{statusName status}}</div>
            <div class="cell startDate">{{date startDate}}</div>
            <div class="cell endDate">{{date endDate}}</div>
            <div class="cell timeLeft">{{left endDate}}</div>
            <div class="cell solarSystemName">{{solarSystemName}}</div>
            {{#if allowedToUseControls}}
                <div class="cell installerName">{{installerName}}</div>
            {{/if}}
        </div>
        {{#if expanded}}
            <div class="expandable">
                <div class="expandable-info">
                    <div class="expandable-title">{{_ 'grid.id'}}:</div>
                    <div class="expandable-content">{{jobID}}</div>
                </div>
                <div class="expandable-info">
                    <div class="expandable-title">{{_ 'grid.access'}}:</div>
                    <div class="expandable-content">
                        <div class="accessList">
                            {{#if edit}}
                                <input type="text" value="{{accessList}}">
                            {{else}}
                                {{getAccessList accessList}}
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{#if allowedToUseControls}}
                    <div class="expandable-info">
                        <div class="expandable-title">{{_ 'grid.requisites'}}:</div>
                        <div class="expandable-content">
                            <div class="requisites">
                                {{#if editRequisites}}
                                    <input type="text" value="{{requisites}}">
                                {{else}}
                                    {{getRequisites requisites}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/if}}
                {{#if boundJobsCount}}
                    <div class="boundJobs">
                        {{#each boundJobs}}
                            {{> boundJob}}
                        {{/each}}
                    </div>
                {{else if isBound boundTo}}
                    <div class="expandable-info">
                        <div class="expandable-title">{{_ 'grid.boundTo'}}:</div>
                        <div class="expandable-content">{{boundTo}}</div>
                    </div>
                    {{#if allowedToUseControls}}
                        <div class="expandable-info">
                            <div class="expandable-title">
                                <button class="unbind">{{_ 'grid.unbind'}}</button>
                            </div>
                        </div>
                    {{/if}}
                {{else}}
                    {{#if allowedToUseControls}}
                        <div class="expandable-info">
                            <div class="expandable-title">{{_ 'grid.bindTo'}}:</div>
                            <div class="expandable-content"><input class="bindTo" type="text"
                                                                   placeholder="{{_ 'grid.jobID'}}">
                            </div>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        {{/if}}
    </div>
</template>

<template name="boundJob">
    <div class="record">
        <div class="row bound {{#if expanded}}expanded{{/if}}">
            <div class="cell productTypeName">{{productTypeName}}</div>
            <div class="cell icons"></div>
            <div class="cell runs">{{runs}}</div>
            <div class="cell activityID">{{activityName activityID}}</div>
            <div class="cell status {{color status}}">{{statusName status}}</div>
            <div class="cell startDate">{{date startDate}}</div>
            <div class="cell endDate">{{date endDate}}</div>
            <div class="cell timeLeft">{{left endDate}}</div>
            <div class="cell solarSystemName">{{solarSystemName}}</div>
            {{#if allowedToUseControls}}
                <div class="cell installerName">{{installerName}}</div>
            {{/if}}
        </div>
        {{#if expanded}}
            <div class="expandable">
                <div class="expandable-info">
                    <div class="expandable-title">{{_ 'grid.id'}}:</div>
                    <div class="expandable-content">{{jobID}}</div>
                </div>
                {{#if allowedToUseControls}}
                    <div class="expandable-info">
                        <div class="expandable-title">
                            <button class="unbind">{{_ 'grid.unbind'}}</button>
                        </div>
                    </div>
                {{/if}}
            </div>
        {{/if}}
    </div>
</template>